<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.uipractice">

    <application
        android:name=".UIPracticeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NavigationUIActivity"
            android:label="@string/title_activity_navigation_ui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OfferListActivity"
            android:label="offer_list"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.uipractice.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.OfferDetailActivity"
            android:label="offer_detail"
            android:parentActivityName=".Activity.OfferListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.uipractice.Activity.OfferListActivity" />
        </activity>
        <activity android:name=".Activity.CircularProgressBarActivity" />
        <activity android:name=".Activity.OfferDetailOptionsActivity" />
        <activity
            android:name=".Activity.OfferDetail1Activity"
            android:label=""
            android:parentActivityName=".Activity.OfferDetailOptionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.uipractice.Activity.OfferDetailOptionsActivity" />
        </activity>
        <activity
            android:name=".Activity.OfferDetailOption2Activity"
            android:label="@string/title_activity_offer_detail_option2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.OfferDetailOption3Activity" />
        <activity android:name=".Activity.OfferDetailOption4Activity" />
        <activity android:name=".Activity.OfferDetailOption5Activity" />
        <activity android:name=".Activity.OfferDetailOption6Activity" />
        <activity android:name=".Activity.FontSelectionOptionsActivity" />
        <activity
            android:name=".Activity.SelectedOfferDetailActivity"
            android:label="@string/title_activity_selected_offer_detail"
            android:parentActivityName=".Activity.FontSelectionOptionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.uipractice.Activity.FontSelectionOptionsActivity" />
        </activity>
        <activity
            android:name=".Activity.GlassActivity"
            android:label="@string/title_activity_glass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BlurActivity"
            android:label="@string/title_activity_blur"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.GlassEffectSelectionActivity" />
        <activity
            android:name=".Activity.BlurEffectActivity"
            android:label="@string/title_activity_blur_effect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeWithImageFlipperActivity"
            android:label="@string/title_activity_home_with_image_flipper"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>